<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coderhouse</title>
    <!-- Enlaces a hojas de estilo CSS, scripts, etc., pueden ir aquí -->
</head>
<body>

    
    <header>
        
        <h1>Cliente</h1>
        <ul>
            {% for cliente  in clientes %}

                  <li>{{cliente.nombre}} {{cliente.apellido}}</li>
                  

            {% endfor %}
        </ul>
      

       
</body>
</html>